.capitalize {
  text-transform: capitalize;
}

.map-main {
  height: 720px;
  width: 512px;
}

.map-offer {
  height: 579px;
  width: 1144px;
  margin: 0 auto;
}

.map-clear {
  background-image: none;
}
