.map__main {
  max-height: 720px;
  max-width: 512px;
  height: 100%;
  width: 100%;
}

.map__offer {
  max-height: 579px;
  max-width: 1144px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.map--clear {
  background-image: none;
}

.places__sorting-caption {
  padding-right: 5px;
}

button.header__nav-link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

button.locations__item-link {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

.request__reloader {
  width: fit-content;
  margin: 15px auto;
  cursor: pointer;
}
